@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Product>
@*
@foreach (var pro in Model)
{
    <div>
        <h4>    
            @pro.Name
        </h4>
        @pro.Description
        <span>@pro.Price.ToString("c")</span>
    </div>
}
*@